name: Deploy to Ubuntu Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Deploy to Server
        run: |
          cd ~/catalog-server
          # Reset any local changes
          git reset --hard
          git pull origin main

          # Install dependencies and build
          yarn install --frozen-lockfile
          yarn build

          # Restart the application
          pm2 reload catalog-server || pm2 start server.js --name catalog-server
